
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <form novalidate class="form-inline">
        <label for="inputDate">Birthdate </label>
        <input type="date" id="inputDate" class="form-control" ng-model="date"/>
        <button type="button" class="btn btn-success" ng-click="discover(date)">Discover</button>
      </form>
    </div>
  </div>
</div>

<div class="row">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media" ng-show="movie">
        <div class="media-left media-top">
           <img class="media-object" alt="{{movie.title}}" src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}"/>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{movie.title}}</h2>
          <p>{{movie.overview}}

        </div>
      </div>
      <br/>
      <div class="embed-responsive embed-responsive-16by9" ng-show="urlVideo">
           <iframe class="embed-responsive-item" width="560" height="315" 
            ng-src="{{urlVideo}}" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>

</div>
